<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TakeMyTime"
         connectionString="Data Source=|Data Directory|\TakeMyTime.db;Trusted_Connection=True;" />
    <add name="TakeMyTimeDebug"
         connectionString="Data Source=|Data Directory|\TakeMyTimeDebug.db;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>