TakeMyTime.BLL/bin
TakeMyTime.BLL/obj
TakeMyTime.Common/bin
TakeMyTime.Common/obj
TakeMyTime.DAL/bin
TakeMyTime.DAL/obj
TakeMyTime.Models/bin
TakeMyTime.Models/obj
TakeMyTime.WPF/bin
TakeMyTime.WPF/obj
TakeMyTime.BLL.Tests/bin
TakeMyTime.BLL.Tests/obj
**/.svn
**/.vs
**/v16
.vs/TakeMyTime.NETCore/v16/Server/sqlite3/storage.ide
.vs/TakeMyTime.NETCore/v16/.suo
.vs/TakeMyTime.NETCore/DesignTimeBuild/.dtbcache
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/TakeMyTime.WPF_MarkupCompile.i.cache
TakeMyTime.Models/obj/Debug/netcoreapp3.0/TakeMyTime.Models.csprojAssemblyReference.cache
TakeMyTime.DAL/obj/Debug/netcoreapp3.0/TakeMyTime.DAL.assets.cache
TakeMyTime.BLL/obj/Debug/netcoreapp3.0/TakeMyTime.BLL.csprojAssemblyReference.cache
TakeMyTime.BLL/obj/Debug/netcoreapp3.0/TakeMyTime.BLL.assets.cache
.vs/TakeMyTime.NETCore/v16/Server/sqlite3/storage.ide
.vs/TakeMyTime.NETCore/v16/.suo
.vs/TakeMyTime.NETCore/DesignTimeBuild/.dtbcache
TakeMyTime.BLL/obj/Debug/netcoreapp3.0/TakeMyTime.BLL.csprojAssemblyReference.cache
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/App.g.i.cs
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/MainWindow.g.i.cs
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/TakeMyTime.WPF.assets.cache
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/TakeMyTime.WPF_MarkupCompile.i.cache
TakeMyTime.WPF/obj/TakeMyTime.WPF.csproj.nuget.g.props
TakeMyTime.WPF/obj/TakeMyTime.WPF.csproj.nuget.dgspec.json
TakeMyTime.WPF/obj/TakeMyTime.WPF.csproj.nuget.cache
TakeMyTime.WPF/obj/project.assets.json
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/TakeMyTime.WPF_MarkupCompile.i.cache
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.g.props
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.dgspec.json
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.cache
TakeMyTime.Models/obj/project.assets.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.g.props
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.dgspec.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.cache
TakeMyTime.DAL/obj/project.assets.json
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.g.props
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.dgspec.json
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.cache
TakeMyTime.BLL/obj/project.assets.json
TakeMyTime.BLL/obj/Debug/netcoreapp3.0/TakeMyTime.BLL.csprojAssemblyReference.cache
*.ide
.vs/TakeMyTime.NETCore/v16/.suo
.vs/TakeMyTime.NETCore/DesignTimeBuild/.dtbcache
obj
Debug
*.suo
*.user
*.userosscache
*.sln.docstates
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.dgspec.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.dgspec.json
TakeMyTime.Models/obj/project.assets.json
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.cache
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.dgspec.json
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.g.props
TakeMyTime.BLL/obj/project.assets.json
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.cache
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.dgspec.json
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.g.props
TakeMyTime.DAL/obj/project.assets.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.cache
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.dgspec.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.g.props
TakeMyTime.Models/obj/project.assets.json
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.cache
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.dgspec.json
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.g.props
.vs/TakeMyTime.NETCore/v16/.suo
TakeMyTime.BLL/obj/project.assets.json
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.cache
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.dgspec.json
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.g.props
TakeMyTime.DAL/obj/project.assets.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.cache
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.dgspec.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.g.props
TakeMyTime.Models/obj/project.assets.json
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.cache
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.dgspec.json
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.g.props
.vs/TakeMyTime.NETCore/DesignTimeBuild/.dtbcache
.vs/TakeMyTime.NETCore/v16/.suo
.vs/TakeMyTime.NETCore/v16/.suo
.vs/TakeMyTime.NETCore/DesignTimeBuild/.dtbcache
.vs/TakeMyTime.NETCore/v16/.suo
SetupFiles/BinderDyn.LoggingUtility.dll
SetupFiles/de-DE/TakeMyTime.WPF.resources.dll
SetupFiles/LiveCharts.dll
SetupFiles/LiveCharts.Wpf.dll
SetupFiles/MaterialDesignColors.dll
SetupFiles/MaterialDesignThemes.Wpf.dll
SetupFiles/Microsoft.Bcl.AsyncInterfaces.dll
SetupFiles/Microsoft.Bcl.HashCode.dll
SetupFiles/Microsoft.Data.Sqlite.dll
SetupFiles/Microsoft.DotNet.PlatformAbstractions.dll
SetupFiles/Microsoft.EntityFrameworkCore.Abstractions.dll
SetupFiles/Microsoft.EntityFrameworkCore.dll
SetupFiles/Microsoft.EntityFrameworkCore.Relational.Design.dll
SetupFiles/Microsoft.EntityFrameworkCore.Relational.dll
SetupFiles/Microsoft.EntityFrameworkCore.Sqlite.Design.dll
SetupFiles/Microsoft.EntityFrameworkCore.Sqlite.dll
SetupFiles/Microsoft.Extensions.Caching.Abstractions.dll
SetupFiles/Microsoft.Extensions.Caching.Memory.dll
SetupFiles/Microsoft.Extensions.Configuration.Abstractions.dll
SetupFiles/Microsoft.Extensions.Configuration.Binder.dll
SetupFiles/Microsoft.Extensions.Configuration.dll
SetupFiles/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SetupFiles/Microsoft.Extensions.DependencyInjection.dll
SetupFiles/Microsoft.Extensions.DependencyModel.dll
SetupFiles/Microsoft.Extensions.Logging.Abstractions.dll
SetupFiles/Microsoft.Extensions.Logging.dll
SetupFiles/Microsoft.Extensions.Options.dll
SetupFiles/Microsoft.Extensions.Primitives.dll
SetupFiles/runtimes/alpine-x64/native/libe_sqlite3.so
SetupFiles/runtimes/linux-arm/native/libe_sqlite3.so
SetupFiles/runtimes/linux-arm64/native/libe_sqlite3.so
SetupFiles/runtimes/linux-armel/native/libe_sqlite3.so
SetupFiles/runtimes/linux-musl-x64/native/libe_sqlite3.so
SetupFiles/runtimes/linux-x64/native/libe_sqlite3.so
SetupFiles/runtimes/linux-x86/native/libe_sqlite3.so
SetupFiles/runtimes/osx-x64/native/libe_sqlite3.dylib
SetupFiles/runtimes/win-arm/native/e_sqlite3.dll
SetupFiles/runtimes/win-arm64/native/e_sqlite3.dll
SetupFiles/runtimes/win-x64/native/e_sqlite3.dll
SetupFiles/runtimes/win-x86/native/e_sqlite3.dll
SetupFiles/SQLitePCLRaw.batteries_v2.dll
SetupFiles/SQLitePCLRaw.core.dll
SetupFiles/SQLitePCLRaw.nativelibrary.dll
SetupFiles/SQLitePCLRaw.provider.dynamic_cdecl.dll
SetupFiles/TakeMyTime.BLL.dll
SetupFiles/TakeMyTime.Common.dll
SetupFiles/TakeMyTime.DAL.dll
SetupFiles/TakeMyTime.Models.dll
SetupFiles/TakeMyTime.WPF.deps.json
SetupFiles/TakeMyTime.WPF.dll
SetupFiles/TakeMyTime.WPF.dll.config
SetupFiles/TakeMyTime.WPF.exe
SetupFiles/TakeMyTime.WPF.runtimeconfig.json
SetupFiles/TakeMyTime2.0.0.zip
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/Newtonsoft.Json.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/TakeMyTime.Common.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/TakeMyTime.Models.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/TakeMyTime.Models.Tests.deps.json
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/TakeMyTime.Models.Tests.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/TakeMyTime.Models.Tests.runtimeconfig.dev.json
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/TakeMyTime.Models.Tests.runtimeconfig.json
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/TakeMyTime.Tests.Common.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/testhost.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TakeMyTime.Models.Tests/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TakeMyTime.NETCore.sln
TakeMyTime.Setup/Release/setup.exe
TakeMyTime.Setup/Release/TakeMyTime.Setup.msi
TakeMyTime.Setup/TakeMyTime.Setup.vdproj
TakeMyTime.Tests.Common/bin/Release/netcoreapp3.1/TakeMyTime.Common.dll
TakeMyTime.Tests.Common/bin/Release/netcoreapp3.1/TakeMyTime.Models.dll
TakeMyTime.Tests.Common/bin/Release/netcoreapp3.1/TakeMyTime.Tests.Common.deps.json
TakeMyTime.Tests.Common/bin/Release/netcoreapp3.1/TakeMyTime.Tests.Common.dll
TakeMyTime.WPF/Properties/PublishProfiles/Release.pubxml
TakeMyTime.WPF/TakeMyTime.WPF.csproj.user
