TakeMyTime.BLL/bin
TakeMyTime.BLL/obj
TakeMyTime.Common/bin
TakeMyTime.Common/obj
TakeMyTime.DAL/bin
TakeMyTime.DAL/obj
TakeMyTime.Models/bin
TakeMyTime.Models/obj
TakeMyTime.WPF/bin
TakeMyTime.WPF/obj
**/.svn
**/.vs
**/v16
.vs/TakeMyTime.NETCore/v16/Server/sqlite3/storage.ide
.vs/TakeMyTime.NETCore/v16/.suo
.vs/TakeMyTime.NETCore/DesignTimeBuild/.dtbcache
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/TakeMyTime.WPF_MarkupCompile.i.cache
TakeMyTime.Models/obj/Debug/netcoreapp3.0/TakeMyTime.Models.csprojAssemblyReference.cache
TakeMyTime.DAL/obj/Debug/netcoreapp3.0/TakeMyTime.DAL.assets.cache
TakeMyTime.BLL/obj/Debug/netcoreapp3.0/TakeMyTime.BLL.csprojAssemblyReference.cache
TakeMyTime.BLL/obj/Debug/netcoreapp3.0/TakeMyTime.BLL.assets.cache
.vs/TakeMyTime.NETCore/v16/Server/sqlite3/storage.ide
.vs/TakeMyTime.NETCore/v16/.suo
.vs/TakeMyTime.NETCore/DesignTimeBuild/.dtbcache
TakeMyTime.BLL/obj/Debug/netcoreapp3.0/TakeMyTime.BLL.csprojAssemblyReference.cache
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/App.g.i.cs
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/MainWindow.g.i.cs
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/TakeMyTime.WPF.assets.cache
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/TakeMyTime.WPF_MarkupCompile.i.cache
TakeMyTime.WPF/obj/TakeMyTime.WPF.csproj.nuget.g.props
TakeMyTime.WPF/obj/TakeMyTime.WPF.csproj.nuget.dgspec.json
TakeMyTime.WPF/obj/TakeMyTime.WPF.csproj.nuget.cache
TakeMyTime.WPF/obj/project.assets.json
TakeMyTime.WPF/obj/Debug/netcoreapp3.0/TakeMyTime.WPF_MarkupCompile.i.cache
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.g.props
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.dgspec.json
TakeMyTime.Models/obj/TakeMyTime.Models.csproj.nuget.cache
TakeMyTime.Models/obj/project.assets.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.g.props
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.dgspec.json
TakeMyTime.DAL/obj/TakeMyTime.DAL.csproj.nuget.cache
TakeMyTime.DAL/obj/project.assets.json
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.g.props
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.dgspec.json
TakeMyTime.BLL/obj/TakeMyTime.BLL.csproj.nuget.cache
TakeMyTime.BLL/obj/project.assets.json
TakeMyTime.BLL/obj/Debug/netcoreapp3.0/TakeMyTime.BLL.csprojAssemblyReference.cache
*.ide
.vs/TakeMyTime.NETCore/v16/.suo
.vs/TakeMyTime.NETCore/DesignTimeBuild/.dtbcache
obj
Debug
